debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/rtl8821ce-5.2-dkms/
debian/rtl8821ce-5.2-dkms.debhelper.log
debian/rtl8821ce-5.2-dkms.dkms.debhelper
debian/rtl8821ce-5.2-dkms.postinst.debhelper
debian/rtl8821ce-5.2-dkms.prerm.debhelper
debian/rtl8821ce-5.2-dkms.substvars
