Source: rtl8821ce-5.4
Section: kernel
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9), dkms

Package: rtl8821ce-5.4-dkms
Architecture: all
Depends: ${misc:Depends}, bc
Description: DKMS source for the rtl8821ce driver (for Linux Kernel 5.4 and above)
